.device-nav {
  @apply grid grid-flow-row grid-cols-2 gap-y-0 capitalize;
  background: theme("colors.surface");
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding-bottom: 0.58rem;
  padding-top: 0.58rem;
  position: sticky;
  top: 84px;
  z-index: 39;
}

.device-nav .item {
  @apply relative block px-3 border-transparent;
  @apply cursor-pointer text-foreground;
  font-weight: 400;
  letter-spacing: 0.08rem;
  text-align: center;
  text-transform: uppercase;
}

/* icon */

.device-nav .item > .icon-wrapper {
  @apply relative inline-block mx-2 rounded-full;
  @apply border-accent border-2;
}
.device-nav .item > .icon-wrapper svg {
  @apply relative inline-block rounded-full;
  @apply border-surface border-2;
  height: 2.75rem;
  width: 2.75rem;
}
.device-nav .icon-wrapper > .icon-label {
  @apply absolute left-0 top-0 -ml-6;
  @apply bg-surface font-medium;
  font-size: 0.82rem;
  line-height: 1;
}

/* adjust icons */

.device-nav .device-i2c > .icon-wrapper svg {
}

/* active */

.device-nav .active {
  @apply text-accent;
}
.device-nav .active .label {
  @apply text-accent;
}
.device-nav .active > .icon-wrapper .icon-label {
  @apply text-foreground;
}
.device-nav .active > .icon-wrapper {
  @apply bg-accent;
}
.device-nav .active .label {
  @apply relative;
}
.device-nav .active .label:before {
  background-color: theme("colors.accent");
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
}
.device-nav .active > .icon-wrapper svg {
  @apply border-surface text-on-accent;
}
.device-nav .item.active:hover > .icon-wrapper svg {
  @apply border-accent text-on-accent;
}

/* reactive */

.device-nav .item:hover {
  @apply text-accent;
}
.device-nav .item:hover > .icon-wrapper svg {
  @apply border-accent text-accent;
}

/* highlighted nav items */

.device-nav .item.btn-highlight .label,
.device-nav .item.btn-highlight .icon-label,
.device-nav .item.btn-highlight > .icon-wrapper svg,
.device-nav .item.btn-highlight:hover > .icon-wrapper svg {
  @apply text-accent;
}

/* responsive */

@screen md {
  .device-nav {
    @apply grid-cols-4;
  }
}

@screen lg {
  .device-nav {
    @apply grid-cols-none flex items-start mx-auto text-center justify-center;
    gap: 0.35rem;
  }
  .device-nav .item {
    padding-left: 0;
    padding-right: 0;
    width: 7.25rem;
  }
  .device-nav .label {
    @apply block w-full pt-2;
  }
}
