.section {
  @apply w-full surface-elevated border-t;
}
.section-heading {
  @apply surface-neutral border-b font-bold;
}
.section-heading-inner {
  @apply max-w-6xl px-8 py-4 mx-auto;
}
.section-content {
  @apply max-w-6xl px-8 pt-6 mx-auto;
}

.section-wide .section-heading-inner,
.section-wide .section-content {
  @apply max-w-none;
}
