.btn {
  @apply px-5 py-2 rounded-full;
  @apply bg-gray-700 text-foreground border-0;
  @apply font-bold leading-tight cursor-pointer;
  font-size: 1.05rem;
}

a.btn {
  @apply inline-block;
}

.btn-sm {
  font-size: 1rem;
}

.btn-xs {
  @apply py-1;
  @apply px-2;
  font-size: 0.95rem;
}

.btn-primary {
  @apply bg-accent;
}

.btn-primary:hover {
  @apply bg-accent;
}

.btn-active,
.btn-active:hover {
  @apply bg-accent text-on-accent;
}

.btn:hover,
.btn:focus {
  @apply bg-accent text-on-accent outline-none;
}

.btn.disabled,
.btn.disabled:hover,
.btn:disabled {
  @apply bg-gray-900 text-gray-500 border-0;
}
