a {
  color: theme("colors.accent");
}

a:hover {
  color: theme("colors.accent");
}

.siblink {
  font-size: 1.08rem;
  font-weight: 700;
  line-height: 1.45;
}

.siblink small {
  font-size: inherit;
}
