.toggle {
  @apply w-auto align-text-top inline-block;
  @apply transition ease-in duration-200 select-none cursor-pointer;
}

.toggle label {
  @apply inline-block relative leading-none;
}

.toggle-label {
  @apply inline-block leading-none;
}

.toggle .toggle-track {
  @apply inline-block overflow-hidden rounded-full;
  @apply bg-gray-700 border-gray-700 text-gray-700;
  height: 1.7rem;
  width: 3.05rem;
}

.toggle input.toggle-checkbox {
  @apply absolute z-0 block appearance-none outline-none;
  @apply border-2 cursor-pointer rounded-full;
  @apply bg-white border-gray-100 text-gray-700;
  height: 1.7rem;
  width: 1.7rem;
}

/* Sm */

.toggle-sm {
  @apply text-sm;
}
.toggle-sm.labeled .toggle-label {
  font-size: 1.08rem;
  line-height: 1.45;
}
.toggle-sm .toggle-track {
  height: 1.35rem;
  width: 2.38rem;
}
.toggle-sm input.toggle-checkbox {
  height: 1.35rem;
  width: 1.35rem;
}

/* Labeled */

.toggle.labeled {
  @apply flex items-center;
}
.toggle.labeled label {
  @apply flex-1;
}
.toggle.labeled .toggle-label {
  @apply flex-1 px-2 items-center leading-none cursor-pointer;
}

/* Active */

.toggle.active .toggle-track {
  @apply bg-accent border-accent text-accent;
}
.toggle.active input.toggle-checkbox {
  @apply bg-white border-white right-0;
}

/* Hover, Focus */

.toggle:hover .toggle-checkbox {
  @apply border-accent;
}
.toggle.active:hover .toggle-checkbox {
  @apply bg-white border-white;
}

.toggle .toggle-checkbox:focus {
  @apply shadow-outline border-blue-300;
}
